.return-main-container {
  /* width: 100vw; */
  height: 100% !important;
  padding: 2px;
  box-sizing: border-box;
  /* margin: 2px; */
  /* background-color: #CDF5FD; */
}

.banner-container {
  /* width: 100vw; */
  height: 30vh;
  background-image: url("../images/header_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: #132043; */
  /* border: 10px solid red; */
  padding: 10px;
}
.stack-from {
  margin: 20px 10px;
  padding: 5px;
  /* display: flex; */
  /* border: 2px solid green; */
  /* background-color: brown; */
}

@font-face {
  font-family: Poppins;
  src: url(/public/fonts/Poppins-Regular.ttf);
}
